<div class="top-page-construction">
   <div class="top-page-construction_content">
        <img src="/assets/images/Angle-haut-gauche.svg" alt="Fioriture haut de texte" class="angle-haut-construction"/> 
        <img src="/assets/images/Logo-CAPC-small.svg" alt="logo CAPC" class="petit-logo"/>
        <h1>Page en construction</h1>
        <p>
            Elle sera bientôt disponible.
        </p>
        <img src="/assets/images/Angle-bas-droit.svg" alt="Fioriture bas de texte" class="angle-bas-construction"/>
    </div>
</div>