<section class="soutenezlart-text-side">
    <h2 class="left">soutenez l'art</h2>
    <div class="right">
        <p class="right">
            Soutenir le CAPC, c’est faire le pari de l’innovation en misant sur des artistes en devenir. C’est
            affirmer une vision de la culture résolument contemporaine et en devenir le précurseur et l’instigateur.
            Nous aider, c’est contribuer au développement du musée afin de rendre la culture accessible au plus
            grand nombre.
        </p>
        <button class="button" type="button" onclick="window.location.href='construction.html';">
            faites un don
        </button>
    </div>
</section>
