<section class="text-side">
    <h2 class="left">le concept</h2>
    <p class="right">
        Le CAPC est un musée contemporain bordelais. Il a pour ambition de proposer des expériences inédites, audacieusement modernes et surtout temporaires. Ce choix de préférer des expositions éphémères d’art moderne à des collections permanentes peut s’expliquer simplement: la volonté de casser le côté figé, souvent associé aux musées, afin d’en proposer une image dynamique. En rythmant l’année avec diverses exhibitions d'œuvres contemporaines, le musée offre, à chaque visite, une nouvelle vision de ce qui est, qui peut être ou de ce que peut devenir l’art moderne. Ainsi, curieux, amateurs et spécialistes pourront découvrir ou redécouvrir le CAPC à travers des expositions protéiformes et avant-gardistes.
    </p>
</section>