<div class="others-expos">
    <h2>
        <div class="surlignage"> Découvrir les autres expositions
        </div>
        </h2>
    <div class="slider">
        <div class="card miettes">
            <img class="cardpicture miettes" src="/assets/images/expos_miettes.jpg" alt="Extrait de l'exposition Miettes">
            <h3>Miettes</h3>
            <p>Du 04 Nov. 2021 au 26 Mar. 2022</p>
            <button class="button" type="button"> VOIR PLUS </button>
        </div>
        <div class="card tourdujouren80mondes">
            <img class="cardpicture tourdujouren80mondes" src="/assets/images/expos_tourdujoursen80mondes.jpg" alt="Extrait de l'exposition Le tour du jour en 80 mondes">
            <h3>Le tour du jour en 80 mondes</h3>
            <p>15 Dec. 2020 au 27 Fev. 2022</p>
            <button class="button" type="button"> VOIR PLUS </button>
        </div>
        <div class="card clubpoissonlune">
            <img class="cardpicture clubpoissonlune" src="/assets/images/expos_clubpoissonlune.jpg" alt="Extrait de l'exposition Le club du poisson lune">
            <h3>Le club du poisson lune</h3>
            <p>04 Nov. 2021 au 26 Mar. 2022</p>
            <button class="button" type="button"> VOIR PLUS </button>
        </div>
    </div>
</div>