<section class="presentation-expo">
    <div class="image-pres-expos">
        <img class="pres-expo-image" src="/assets/images/AbsalonAbsalonExpo.jpg" alt="Extrait de l'exposition Absalon Absalon par Absalon">
    </div>
    <div class="text-side">
        <div class="left">
            <h2>
                <div class="surlignage"> Absalon absalon
                </div>
                </h2>
            <p>
                Du 24 Juin 2021 au 02 Janvier 2022 
                <br/>Par Absalon 
            </p> 
        </div>
            <p class="right">
                Absalon Absalon est une exposition collective qui prend comme point de départ l’œuvre prématurément interrompue de l’artiste franco-israélien Absalon pour en proposer une interprétation renouvelée, à travers un réseau d’affinités formelles et conceptuelles avec une sélection d’œuvres de certain·e·s artistes de sa génération. Connue pour ses Cellules, des constructions architecturales géométriques d’un blanc immaculé, que l’artiste avait conçues et construites pour les habiter, la pratique d’Absalon a souvent été considérée à l’aune d’une généalogie des avant-gardes, dans la continuation d’une abstraction radicale, générique et idéalisée, déconnectée des contingences du monde. Sans nier que l’œuvre d’Absalon ait des traits communs avec une certaine téléologie historique, l’exposition propose d’en questionner les intentions et significations en en proposant une approche plus subjective, politique et incarnée.
            </p>
    </div>