<div class="others-expos">
   
    <div class="surlignage">  <h2>Découvrir les autres expositions</h2></div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="../assets/images/expos_miettes.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Miettes</h3>
              <p class="card-text">Du 04 Nov. 2021 au 26 Mar. 2022</p>
              <a href="expos.html" class="button"> Voir plus</a>
            </div>
            <!-- <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div> -->
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../assets/images/expos_tourdujoursen80mondes.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Le tour du jour en 80 mondes</h3>
              <p class="card-text">15 Dec. 2020 au 27 Fev. 2022</p>
              <a href="expos.html" class="button"> Voir plus</a>
            </div>
            <!-- <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div> -->
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../assets/images/expos_clubpoissonlune.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Le club du poisson lune</h3>
              <p class="card-text">04 Nov. 2021 au 26 Mar. 2022</p>
              <a href="expos.html" class="button"> Voir plus</a>
            </div>
            <!-- <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div> -->
          </div>
        </div>
      </div>



    <!-- <div class="slider">
        <div class="card miettes">
            <img class="cardpicture miettes" src="/assets/images/expos_miettes.jpg" alt="Extrait de l'exposition Miettes">
            <h3>Miettes</h3>
            <p>Du 04 Nov. 2021 au 26 Mar. 2022</p>
            <button class="button" type="button"> VOIR PLUS </button>
        </div>
        <div class="card tourdujouren80mondes">
            <img class="cardpicture tourdujouren80mondes" src="/assets/images/expos_tourdujoursen80mondes.jpg" alt="Extrait de l'exposition Le tour du jour en 80 mondes">
            <h3>Le tour du jour en 80 mondes</h3>
            <p>15 Dec. 2020 au 27 Fev. 2022</p>
            <button class="button" type="button"> VOIR PLUS </button>
        </div>
        <div class="card clubpoissonlune">
            <img class="cardpicture clubpoissonlune" src="/assets/images/expos_clubpoissonlune.jpg" alt="Extrait de l'exposition Le club du poisson lune">
            <h3>Le club du poisson lune</h3>
            <p>04 Nov. 2021 au 26 Mar. 2022</p>
            <button class="button" type="button"> VOIR PLUS </button>
        </div>
    </div> -->
</div>