<div class="others-expos">
   
   <h2>
     <div class="surlignage"> Découvrir les autres expositions
     </div>
    </h2>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        
        <div class="d-flex w-100">
          
          
          <div class="card miettes">
            <img class="cardpicture miettes" src="/assets/images/expos_miettes.jpg" alt="Extrait de l'exposition Miettes">
            <h3>Miettes</h3>
            <p>Du 04 Nov. 2021 au 26 Mar. 2022</p>
            <button class="button" type="button"> VOIR PLUS </button>
          </div>
          
          <div class="card tourdujouren80mondes">
            <img class="cardpicture tourdujouren80mondes" src="/assets/images/expos_tourdujoursen80mondes.jpg" alt="Extrait de l'exposition Le tour du jour en 80 mondes">
            <h3>Le tour du jour en 80 mondes</h3>
            <p>Du 15 Dec. 2020 au 27 Fev. 2022</p>
            <button class="button" type="button"> VOIR PLUS </button>
          </div>
          
          <div class="card clubpoissonlune">
            <img class="cardpicture clubpoissonlune" src="/assets/images/expos_clubpoissonlune.jpg" alt="Extrait de l'exposition Le club du poisson lune">
            <h3>Le club du poisson lune</h3>
            <p>04 Nov. 2021 au 26 Mar. 2022</p>
            <button class="button" type="button"> VOIR PLUS </button>
          </div>
        
        </div>
      </div>
      
      <div class="carousel-item">
        
        <div class="d-flex w-100">
          <div class="card permanente">
            <img class="cardpicture permanente" src="/assets/images/expos_permanent.png" alt="Extrait de l'exposition Permanente">
            <h3>Permanente</h3>
            <p>Du 28 Nov. 2021 au 08 Dec. 2021</p>
            <button class="button" type="button"> VOIR PLUS </button>
          </div>
          <div class="card dolrums">
            <img class="cardpicture dolrums" src="/assets/images/expos_dolrums.png" alt="Extrait de l'exposition The dolrums">
            <h3>The dolrums</h3>
            <p>Du 02 Dec. 2021 au 02 Jan. 2022</p>
            <button class="button" type="button"> VOIR PLUS </button>
          </div>
          <div class="card clubpoissonlune">
            <img class="cardpicture clubpoissonlune" src="/assets/images/expos_OEabsalonabsalon.jpg" alt="Extrait de l'exposition Le club du poisson lune">
            <h3>Absalon Absalon</h3>
            <p>Du 24 Juin 2021 au 02 Janvier 2022 </p>
            <button class="button" type="button"> VOIR PLUS </button>
          </div>
        </div>
        
      </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
    <!-- <div class="row row-cols-1 row-cols-md-3 g-4">
        
      <div class="col">
          <div class="card h-100">
            <img src="../assets/images/expos_miettes.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Miettes</h3>
              <p class="card-text">Du 04 Nov. 2021 au 26 Mar. 2022</p>
              <a href="expos.html" class="button"> Voir plus</a>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card h-100">
            <img src="../assets/images/expos_tourdujoursen80mondes.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Le tour du jour en 80 mondes</h3>
              <p class="card-text">15 Dec. 2020 au 27 Fev. 2022</p>
              <a href="expos.html" class="button"> Voir plus</a>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card h-100">
            <img src="../assets/images/expos_clubpoissonlune.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Le club du poisson lune</h3>
              <p class="card-text">04 Nov. 2021 au 26 Mar. 2022</p>
              <a href="expos.html" class="button"> Voir plus</a>
            </div>
          </div>
        </div>
      </div> -->





    <!-- <div class="slider">
        <div class="card miettes">
            <img class="cardpicture miettes" src="/assets/images/expos_miettes.jpg" alt="Extrait de l'exposition Miettes">
            <h3>Miettes</h3>
            <p>Du 04 Nov. 2021 au 26 Mar. 2022</p>
            <button class="button" type="button"> VOIR PLUS </button>
        </div>
        <div class="card tourdujouren80mondes">
            <img class="cardpicture tourdujouren80mondes" src="/assets/images/expos_tourdujoursen80mondes.jpg" alt="Extrait de l'exposition Le tour du jour en 80 mondes">
            <h3>Le tour du jour en 80 mondes</h3>
            <p>15 Dec. 2020 au 27 Fev. 2022</p>
            <button class="button" type="button"> VOIR PLUS </button>
        </div>
        <div class="card clubpoissonlune">
            <img class="cardpicture clubpoissonlune" src="/assets/images/expos_clubpoissonlune.jpg" alt="Extrait de l'exposition Le club du poisson lune">
            <h3>Le club du poisson lune</h3>
            <p>04 Nov. 2021 au 26 Mar. 2022</p>
            <button class="button" type="button"> VOIR PLUS </button>
        </div>
    </div>-->
</div>