<footer>
    <div class=footer_content>
        <div class="lines">
            <div>
                <h3>LE MUSÉE</h3>
                <ul>
                    <li>
                        <a href="construction.html">Histoire du CAPC</a>
                    </li>
                    <li>
                        <a href="construction.html">Bibliothèque</a>
                    </li>
                    <li>
                        <a href="construction.html">Boutique</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3>EXPOSITIONS ET ÉVÉNEMENTS</h3>
                <ul>
                    <li>
                        <a href="construction.html">Les Expositions du CAPC</a>
                    </li>
                    <li>
                        <a href="construction.html">Les oeuvres in situ du CAPC</a>
                    </li>
                    <li>
                        <a href="construction.html">Les événements du CAPC</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3>INFOS PRATIQUES</h3>
                <ul>
                    <li>
                        <a href="construction.html">Actualités</a>
                    </li>
                    <li>
                        <a href="construction.html">Contact</a>
                    </li>
                    <li>
                        <a href="construction.html">Plan d'accès</a>
                    </li>
                    <li>
                        <a href="erreur.html">Accessibilité</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3>NOUS SOUTENIR</h3>
                <ul>
                    <li>
                        <a href="construction.html">Faire un don</a>
                    </li>
                    <li>
                        <a href="construction.html" class=billetterie2>
                            <img class="logo-menu" src="assets/css/images/Ticket.svg" alt="Logo ticket" />
                            <h3>Billetterie</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="lines">
            <div>
                <h3> CONTACT</h3>
                <ul>
                    <li>7 rue Ferrère
                        <br /> 33 000 Bordeaux
                    </li>
                    <li>
                        Tel: 05 56 00 81 50
                    </li>
                </ul>
            </div>

            <div>
                <div class="newsletter">
                    <h3>NEWSLETTER</h3>
                    <p>pour rester informé.e</p>
                </div>
                <div>
                    <input type="email" id="Email" name="q" placeholder="Entrez votre e-mail" size="500"
                        pattern=".+@globex\.com" />
                </div>
            </div>

            <div class="social-media">
                <ul>
                    <li>
                        <a href="https://fr-fr.facebook.com/capc.musee" class="social-media-link">
                            <img src="assets/images/Facebook.svg" alt="Logo Facebook" />
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/CAPCmusee" class="social-media-link">
                            <img src="assets/images/Twitter.svg" alt="Logo Twitter" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/capcmusee/" class="social-media-link insta">
                            <img src="assets/images/Instagram.svg" alt="Logo insta" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCxqmVbdHdobPfxpcRWzNGLw"
                            class="social-media-link">
                            <img src="assets/images/Youtube.svg" alt="Logo youtube" />
                        </a>
                    </li>
                    <li>
                        <a href="https://vimeo.com/capc" class="social-media-link">
                            <img src="assets/images/Vimeo.svg" alt="Logo vimeo" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="bottom-lines">
            <li>
                <a href="construction.html">Mentions légales</a>
            </li>
            <li>
                <a href="construction.html">Accessibilité</a>
            </li>
            <li>
                <a href="construction.html">RSS</a>
            </li>
            <li>
                <a href="construction.html">Gestion des Cookies</a>
            </li>
            <li>
                <a href="construction.html">Plan du site</a>
            </li>
            <li>
                <a href="construction.html">Crédits</a>
            </li>
        </div>
    </div>
</footer>