<header>
    <div class=menu>
        <a href="index.html">
            <img class="logo" src="assets/images/Logo-CAPC-large.svg" alt="Logo CAPC" />
        </a>
        <nav>
            <ul class="top-menu">
                <li>
                    <select>
                        <option value="Français">fr</option>
                        <option value="English">eng</option>
                        <option value="Espanol">es</option>
                    </select>
                </li>
                <li>
                    <form>
                        <div class="icon-search">
                            <img class="logo-menu" src="assets/images/index_icon-search.svg" alt="Loupe" />
                            <input type="search" id="Research" name="q" placeholder="Rechercher" size="140">
                        </div>
                    </form>
                </li>
                <li>
                    <a href="construction.html" class=billetterie>
                        <img class="logo-menu" src="assets/images/index_icon-ticket.svg" alt="Logo ticket" /> billetterie
                    </a>
                </li>
            </ul>

            <ul class="scrolling-menu">
                <li>
                    Le Musée
                    <ul class="sub-nav">
                        <li>
                            <a href="construction.html">A propos</a>
                        </li>
                        <li>
                            <a href="construction.html">Bibliothèque</a>
                        </li>
                        <li>
                            <a href="construction.html">Boutique</a>
                        </li>
                    </ul>
                </li>
                <li>
                    Expositions et Événements
                    <ul class="sub-nav">
                        <li>
                            <a href="construction.html">Collection permanente</a>
                        </li>
                        <li>
                            <a href="expos">Expositions</a>
                        </li>
                        <li>
                            <a href="construction.html">Workshop</a>
                        </li>
                    </ul>
                </li>
                <li>
                    Infos Pratiques
                    <ul class="sub-nav">
                        <li>
                            <a href="construction.html">Contact</a>
                        </li>
                        <li>
                            <a href="construction.html">Plan d'accès</a>
                        </li>
                        <li>
                            <a href="construction.html">Actualités</a>
                        </li>
                        <li>
                            <a href="construction.html">Accessibilité</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="construction.html">Nous soutenir</a>
                </li>
            </ul>
        </nav>
    </div>
</header>