<section class="presentation-capc text-side">
    <h2 class="left">
        <div class="surlignage">BIENVENUE AU CAPC </div>
    </h2>
    <p class="right">
        <br/>
        Fondé en 1973, le musée d’art contemporain de Bordeaux, en Nouvelle-Aquitaine, est un lieu d’exception. Il
        met en lumière les recherches formelles, et autres expériences artistiques de la fin du siècle dernier, avec
        les questionnements des artistes modernes d’aujourd’hui. Véritable expérience immersive, le CAPC fait
        découvrir à tous des oeuvres modernes et contemporaines. À travers des expositions éphémères riches en
        inventivité, le musée pousse les visiteurs à s’interroger.
        <br />
        <br />Dans l’histoire des expositions du CAPC, six artistes contemporains de renom tels que Keith Haring,
        Richard Long, Max Neuhaus et Christian Boltanski ont réalisé des œuvres in situ qui ont intégré la
        collection visible en permance au sein du musée.
    </p>
</section>