<section class="infos-pratiques">
    <h2>
        <div class="surlignage"> INFORMATIONS PRATIQUES
        </div>
    </h2>
    <div class="sections">
        <section class=time-tarif-section>
            <!-- Times -->
            <div>
                <div class="icon-h3">
                    <img src="assets/images/index_icon-time .svg" alt="icon-time">
                    <h3>Horaires</h3>
                </div>
                <div class="text-days">
                    <div class="time">
                        <p>
                            Lundi <br>
                            Du mardi au dimanche
                        </p>
                        <p>
                            Fermé <br>
                            11h-18h
                        </p>
                    </div>

                    <p>
                        <br />
                        Fermé lors des jours feriés (sauf lors du 14/07 et du 15/08 aux horaires habituels)
                    </p>
                </div>
            </div>
            <!-- Tarifs -->
            <div>
                <div class="icon-h3">
                    <img src="assets/images/index_icon-euro.svg" alt="icon-euro">
                    <h3>Tarifs</h3>
                </div>
                <div class="text-tarif">
                    <div class="text-days">
                        <p class="corp-underline">
                            Entrée du musée
                        </p>
                        <div class="euro">
                            <p> Tarif plein <br>
                                Tarif réduit
                            </p>
                            <p>
                                7€ <br>
                                4€
                            </p>
                        </div>
                        <p>
                            <br />
                            Gratuit le 1er dimanche de chaque mois (sauf juillet et août)
                        </p>
                    </div>
                    <a class="buttondon" href="construction.html">VOIR MODALITÉS</a>
                </div>
            </div>
        </section>
        <!-- Lieu -->
        <section class="lieu-section">
            <div class=title-adress>
                <div class="icon-h3">

                    <img src="assets/images/index_icon-lieu.svg" alt="icon-lieu">
                    <h3>Nous trouver</h3>
                </div>

                <p>
                    7 rue Ferrere 33000 Bordeaux
                </p>

            </div>

            <a
                href="https://www.google.com/maps/place/CAPC+mus%C3%A9e+d'art+contemporain+de+Bordeaux/@44.848285,-0.572163,17z/data=!3m1!4b1!4m5!3m4!1s0xd5527d81e072f85:0x21b210f33fe22835!8m2!3d44.848233!4d-0.5721528">
                <img src="assets/images/carte_map .jpg" alt="image-map" class="map">
            </a>
            <div class="cars-transports">
                <div class="cars">
                    <p class="corp-underline">
                        Vous venez en voiture
                    </p>
                    <p>
                        A10-Paris, A62-Toulouse, A63-Bayonne, A-89-Lyon
                    </p>
                    <p>
                        3 parkings à moins de 700m
                    </p>
                </div>
                <div class="transports">
                    <p class="corp-underline">
                        Vous venez en transports
                    </p>
                    <p>
                        Gare Saint-Jean à 5km <br>
                        Aéroport 18km
                    </p>
                    <p>
                        Tram B, arrêt CAPC <br>
                        Tram C, arrêt Jardin Public
                    </p>
                </div>
            </div>
        </section>
    </div>
</section>