<section class="covid">
    <p class="bandeau-desktop">
        Informations COVID-19 : L’accès au musée se fait sur présentation du pass sanitaire pour toute personne de
        plus 12 ans. Nous vous rappelons que le port du masque reste obligatoire, à partir de 11 ans.
        <a href="https://www.gouvernement.fr/info-coronavirus" class= lien-en-savoir-plus > Cliquez-ici pour en savoir plus.</a>
    </p>
    <p class="bandeau-phone">
        Information COVID-19 <br/>
        Pass sanitaire obligatoire à partir de 12 ans.  Port du masque obligatoire à partir de 11 ans. <br/>
        <a href="https://www.gouvernement.fr/info-coronavirus" class= lien-en-savoir-plus > En savoir plus.</a>
    </p>
</section>