<section class="les-expos">

    <div class="expos-left">
        <h2>
            <div class="surlignage2">LES EXPOSITIONS
            </div>
        </h2>
       
        <p>
            Le CAPC soutient la création émergente en proposant des expositions éphémères afin de permettre aux
            auteurs du monde entier de partager leurs oeuvres. Les expositions amènent dans un contexte culturel
            étendu, élargi à la musique, l’architecture, le cinéma, la littérature, les médias de masse, et la
            culture populaire.
        </p>
        <button class="button" type="button" onclick="window.location.href='expos.html';">
            VOIR TOUT
        </button>
    </div>

    <div class="expos-right">
        <img src="assets/images/AbsalonAbsalon.jpg" alt="AbsalonAbsalon" />
        <div class="pres-absalon">
            <h3>Absalon Absalon</h3>
            <p>Du 24 juin au 02 Janvier 2022
                <br /> Par Absalon
            </p>
            <a href="expos.html" class="plus"> En savoir plus</a>

        </div>
    </div>

</section>