<header class="menu-desktop2">
    <div class=menu-desktop>
        <a href="index.html">
            <img class="logo" src="assets/images/logo_capc-large.svg" alt="Logo CAPC" />
        </a>
        <nav>
            <ul class="top-menu">
                <li>
                    <select>
                        <option value="Français">fr</option>
                        <option value="English">eng</option>
                        <option value="Espanol">es</option>
                    </select>
                </li>
                <li>
                    <form>
                        <div class="icon-search">
                            <img class="logo-menu" src="assets/images/index_icon-search.svg" alt="Loupe" />
                            <input type="search" id="Research" name="q" placeholder="Rechercher" size="140">
                        </div>
                    </form>
                </li>
                <li class="menu-billeterie">
                    <a href="construction.html" class=billetterie>
                        <img class="logo-menu" src="assets/images/index_icon-ticket.svg" alt="Logo ticket" /> billetterie
                    </a>
                </li>
            </ul>

            <ul class="scrolling-menu">
                <li>
                    Le Musée
                    <ul class="sub-nav">
                        <li>
                            <a href="construction.html">A propos</a>
                        </li>
                        <li>
                            <a href="construction.html">Bibliothèque</a>
                        </li>
                        <li>
                            <a href="construction.html">Boutique</a>
                        </li>
                    </ul>
                </li>
                <li>
                    Expositions et Événements
                    <ul class="sub-nav">
                        <li>
                            <a href="construction.html">Collection permanente</a>
                        </li>
                        <li>
                            <a href="expos">Expositions</a>
                        </li>
                        <li>
                            <a href="construction.html">Workshop</a>
                        </li>
                    </ul>
                </li>
                <li>
                    Infos Pratiques
                    <ul class="sub-nav">
                        <li>
                            <a href="construction.html">Contact</a>
                        </li>
                        <li>
                            <a href="construction.html">Plan d'accès</a>
                        </li>
                        <li>
                            <a href="construction.html">Actualités</a>
                        </li>
                        <li>
                            <a href="construction.html">Accessibilité</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="construction.html">Nous soutenir</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!-- header mobile -->
<header class="menu-mobile">
    <nav class="navbar navbar-light" style="background-color: #1C1C1F;">
        <a class="navbar-brand" href="index.html">
          <img src="/assets/images/logo-capc.png" width="122px" height="55px" alt="logo-capc">
        </a>
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Le musée
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="construction.html">A propos</a>
                      <a class="dropdown-item" href="construction.html">Bibliothèque </a>
                      <a class="dropdown-item" href="construction.html">Boutique</a>
                    </div>
                 </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Expositions et évènements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Infos pratiques</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Nous soutenir</a>
              </li>

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>

            </ul>
          </div>
      </nav>
</header>

    
  





