<header class="menu-desktop2">
    <div class=menu-desktop>
        <a href="index.html">
            <img class="logo" src="assets/images/logo_capc-large.svg" alt="Logo CAPC" />
        </a>
        <nav>
            <ul class="top-menu">
                <li>
                    <select>
                        <option value="Français">fr</option>
                        <option value="English">eng</option>
                        <option value="Espanol">es</option>
                    </select>
                </li>
                <li>
                    <form>
                        <div class="icon-search">
                            <img class="logo-menu" src="assets/images/index_icon-search.svg" alt="Loupe" />
                            <input type="search" id="Research" name="q" placeholder="Rechercher" size="140">
                        </div>
                    </form>
                </li>
                <li class="menu-billeterie">
                    <a href="construction.html" class=billetterie>
                        <img class="logo-menu" src="assets/images/index_icon-ticket.svg" alt="Logo ticket" /> billetterie
                    </a>
                </li>
            </ul>

            <ul class="scrolling-menu">
                <li>
                    Le Musée
                    <ul class="sub-nav">
                        <li>
                            <a href="construction.html">A propos</a>
                        </li>
                        <li>
                            <a href="construction.html">Bibliothèque</a>
                        </li>
                        <li>
                            <a href="construction.html">Boutique</a>
                        </li>
                    </ul>
                </li>
                <li>
                    Expositions et Événements
                    <ul class="sub-nav">
                        <li>
                            <a href="construction.html">Collection permanente</a>
                        </li>
                        <li>
                            <a href="expos">Expositions</a>
                        </li>
                        <li>
                            <a href="construction.html">Workshop</a>
                        </li>
                    </ul>
                </li>
                <li>
                    Infos Pratiques
                    <ul class="sub-nav">
                        <li>
                            <a href="construction.html">Contact</a>
                        </li>
                        <li>
                            <a href="construction.html">Plan d'accès</a>
                        </li>
                        <li>
                            <a href="construction.html">Actualités</a>
                        </li>
                        <li>
                            <a href="construction.html">Accessibilité</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="construction.html">Nous soutenir</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!-- header mobile -->
<header class="menu-mobile">
    <nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/assets/images/logo_capc-large.svg">
            <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="logo-mobile" width="122px" height="55px">
          </a>
        </div>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
</header>