.top-page-construction{
    background-image: url("/assets/images/top-page-construction.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 120vh;
    overflow-x: hidden;
    justify-self: center;
    text-align: center;
    @media screen and (max-width:701px){
        min-height: 90vh;
    }
}
 
.top-page-construction_content{
    color:$black;
    padding: 20px 40px 30px 50px;
    background-color: rgba(250, 250, 250, 1);
    opacity: 0.9;
    display: inline-block;
    margin-top: 290px;
    @media screen and (max-width:701px) {
        display: flex;
        flex-wrap: wrap;
        padding : 34px 34px 34px 34px;
        margin-top: 50%;
        h1 {
            font-size: 30px;
            line-height: 30px;
            margin-top: 4%;
            width: 100%;
        }
        p {
            font-size: 16px;
            text-align: center;
            width: 100%;
        }
    }
}
 
.petit-logo{
    width: 122px;
    height: 55px;
    @media screen and (max-width:701px) {
        width:60px;
        height:27px;
        margin:auto;
    }
}
 
.angle-haut-construction{
    display: flex;
    margin-left: -20px;
    margin-top: 20px;
    @media screen and (max-width:701px) {
        display:none;
    }
}
 
.angle-bas-construction{
    display: flex;
    margin-left:620px;
    margin-top: 10px;
    @media screen and (max-width:701px) {
        display:none;
    }
}
    