/* index et expos les textes avec le titre à gauche */
.text-side{
   display:flex;
   justify-content: space-between;
   margin:136px 180px 121px 120px;
}

.text-side p {
   margin-bottom:45px;
}
 
.text-side .left{
   width:50%;
   flex-shrink:0;
}

.buttondon{
   padding: 14px 54px;
   margin: 45px 0px 0px;
   background-color: #1c1c1f;
   color: #fafafa;
   border:none;
   font-size: 18px;
   font-family: 'Julius Sans One', sans-serif;
   transition:1s;
   text-transform: uppercase;
   text-decoration: none;
}
   
.buttondon:hover{
   background:#c2b288;
   color:#1c1c1f;
   transition:1s;
}
