.pres-expo-image{
    width: 100%;
 }
 
 .resume-expos{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom:136px;
    margin-top: 136px;
 }
 
 .resume-expos .content{
    padding-right: 122px;
    /* padding-left:280px; */
 }
 
 .resume-expos .infos{
    padding-left:121px;
    margin-right:131px;
 } 