.buttonchrono{
    background-color: #fafafa;
    color:#1c1c1f;
    font-weight: bolder;
 }
 
 .chrono-menu-boutons nav ul {
    display:flex;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 136px;
 }