.pres-expo-image{
   width: 100%;
}
 
.resume-expos{
   display:flex;
   justify-content: space-between;
   align-items: flex-end;
   margin-bottom:12%;
   margin-top: 12%;
}
 
.resume-expos .content{
   padding-right: 10%;
}
 
.resume-expos .infos{
   padding-left:10%;
   margin-right:12%;
} 