.text-side{
   display:flex;
   justify-content: space-between;
   margin:120px 136px;
}

.text-side .left{
   width:50%;
   flex-shrink:0;
}

.presentation-expo h2{
   margin-bottom:20px;
}

.presentation-expo{
   margin: 136px 0;
}

.pres-expo-image{
   width: 100%;
}
 
/*.resume-expos{
   display:flex;
   justify-content: space-between;
   align-items: flex-end;
}
 
.resume-expos .content{
   padding-right: 10%;
}
 
.resume-expos .infos{
   padding-left:10%;
   margin-right:12%;
} */