.buttonchrono{
   background-color: $white;
   color:$black;
   font-weight: bold;
   font-family: Julius sans one;
   font-size: 18px;
   text-transform:uppercase;
   text-decoration:none;
   padding: 5px;
}

.buttonchrono:hover{
   color:$black;
   padding:5px 10px;
   text-decoration: underline;
}
 
.chrono-menu-boutons nav ul {
   display:flex;
   justify-content: space-evenly;
   list-style: none;
}

.moment{
   border: 2px solid $black;
}