.text-side{
    display:flex;
    justify-content: space-between;
    margin:136px 120px;
    @media screen and (max-width:800px){
        margin: 30px 10px 30px 10px;
    }
}
 
.text-side .left{
    width:50%;
    flex-shrink:0;
}