footer ul{
    list-style: none;
 }
 
 footer{
    width: 100%;
    bottom:0;
    left:0;
    background-color: #1C1C1F;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #fafafa;
    margin: 0 auto;
    padding: 10px;
 }
 
 .footer_content .lines a{
   border: none ;
   color:#fafafa;
}

.footer_content .lines a:hover{
   border: none ;
   // color: #D2BE88;
 }



 .footer_content{
    margin-right: 8%;
    margin-left: 8%;
 }
 
 footer .lines{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 24px;
 }
 
 .lines input{
    background:#fafafa;
    color:#1C1C1F;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    border:none;
    width: 650px;
    padding: 12px;
    margin-left:58px;
 }
 
 .lines ul li a img{
    height: 44px;
    width: 43px;
    display: flex;
    flex-direction: row;
 }

 .lines ul li a {
      color:#fafafa;
  }

 .lines ul li a:hover {
   text-decoration: none;
   color: #D2BE88;
}

.bottom-lines a:hover {
   color: #D2BE88;
}
   
 .social-media ul{
    display:flex;
 }


 .social-media{
    margin-top: 50px;
 }
 
 .social-media ul li a img{
    margin-left: 5px;
    margin-right: 5px;
 }

 .billetterie2{
    color:#D2BE88;
    font-weight: normal;
    display:flex;
    text-transform: uppercase;
    padding-top: 65px;
    align-items: center;
 }
 
 .newsletter{
    display: flex;
    align-items: center;
 }
 
 .newsletter h3{
    margin-right: 15px; 
    margin-left:58px;
 }
 
 .bottom-lines{
    text-decoration: underline;
    list-style: none;
    display:flex;
    justify-content: space-evenly;
 }
