/* HEADER */
.menu{
    font-family: 'Julius Sans One', sans-serif;
    color: #fafafa;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C1C1F;
}
 
a{
    text-decoration: none;
    color:#fafafa;
}
 
.icon-search {
    display: flex;
    align-items: center;
}

.logo{
    height: 55px;
    width: 122px;
}
 
header nav ul li{
    padding:7px;
    margin: 10px 0px;
}
 
.logo-menu{
    height: 24px;
    width: 24px;
}
 
header input{
    background:#1C1C1F;
    color:#fafafa;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
    font-weight: normal;
    border:none;
    width: 135px;
}
 
.billetterie{
    color:#D2BE88;
    font-weight: normal;
}
 
.scrolling-menu{
    font-weight: bold;
}
 
header nav ul li select{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
    background-color: #1C1C1F;
    color:#fafafa;
    border:none;
}
 
 
/*El copié collé du menu deroulant*/


.top-menu{
position: relative;
display:flex;
justify-content: right;
align-items: center;
}

header nav ul{
list-style-type: none;
}

header nav ul li{
float: left;
text-align: right;
position: relative;
margin: 0px 15px;
}

header nav ul::after{
content: "";
display: table;
clear: both;
}

header nav > ul > li > ul > li > a {
display: block;
text-decoration: none;
color: #fafafa;
}

.sub-nav li{
margin-left: 0;
margin-right: 0;
padding-left: 0;
padding-right: 0;
}

.sub-nav{
display: none;
box-shadow: 0px 1px 2px #CCC;
background-color: #1C1C1F;
position: absolute;
width:fit-content;
z-index: 1000;
font-weight: normal;
}

header nav a:hover{
color: #D2BE88;
border-bottom: 2px solid #D2BE88;
}

header nav > ul li:hover .sub-nav{
display: block;
}

.sub-nav li{
float: none;
width: 100%;
text-align: left;
}

.sub-nav a{
padding: 10px;
border-bottom: none;
}

.sub-nav a:hover{
border-bottom: none;
background-color: RGBa(200,200,200,0.1);
}

.scrolling-menu > a::after{
content:" ▼";
font-size: 18px;
}

.scrolling-menu li:hover{
color: #D2BE88;
}
