/*top-page-index*/


.top-page-index{
    background-image: url("/assets/images/index_top-page.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 75px);
    overflow-x: hidden;
    justify-self: center;
    @media screen and (max-width: 700px){
        min-height: 50px;
        align-content: center;
        justify-content: center;
    }
}

.top-page-index_content{
    padding: 20px 40px 30px 50px;
    background-color: rgba(250, 250, 250, 1);
    display: inline-block;
    margin-top: 270px;
    @media screen and (max-width: 700px){
        padding: 20px;
        margin: 30px;
        display:inline-block;
        position: relative;
    }
}

.top-page-index h1{
    color:$black;
    @media screen and (max-width: 700px){
        text-align: center;
    }
}

.angle-haut-index{
    margin-left:-20px;
    margin-top: 20px;
    color:$black;
    @media screen and (max-width: 700px){
        position: absolute;
        margin-left: 30px;
        margin-top: 5px;
    }
}

.angle-bas-index{
    margin-left:380px;
    margin-top: 0px;
    @media screen and (max-width: 700px){
        position: absolute;
        margin-left: 250px;
        margin-top: 0px;
    }
}