/*index Section présentation du CAPC*/
.presentation-capc{
    display:flex;
    justify-content: space-between;;
}
.titre-h2{
    margin: 80px 121px;
    display:block;
    /* justify-content:center; */
}

.text{
    display:block;
    justify-content:right;
    padding: 80px 121px;
}
