/* index et expos menu bandes */
.evenement-capc {
    background-image: url("../../assets/images/banniereevenementscapc.jpg");
    padding:60px 0px;
    margin-bottom: 14px;
    margin-top:136px;
    background-repeat: no-repeat;
    @media screen and (max-width: 550px) {
        padding:30px 0px;
        margin-top:10%;
    }
}
    
.oeuvres-capc{
background-image: url("../../assets/images/banniereoeuvresinsitu.jpg");
padding:60px 0px;
margin-bottom: 14px;
background-repeat: no-repeat;
    @media screen and (max-width: 550px) {
        padding:30px 0px;
    }
}
    
.expositions-capc{
    background-image: url("../../assets/images/banniereexposcapc.png");
    padding:60px 0px;
    margin-bottom: 136px;
    background-repeat: no-repeat;
    @media screen and (max-width: 558px) {
        padding:30px 0px;
    }
}

.histoire-capc{
    background-image: url("../../assets/images/banniereevenementscapc.jpg");
    padding:60px 0px;
    margin-bottom: 136px;
    background-repeat: no-repeat;
    @media screen and (max-width: 558px) {
    padding:30px 0px;
    }
}

.evenement-capc{

    background-image: url("../../assets/images/banniereevenementscapc.jpg");
    padding:60px 0px;
    margin-bottom: 14px;
    margin-top:136px;
    @media screen and (max-width: 558px) {
        padding:30px 0px;
    
    
    }
}
        
.oeuvres-capc{
    background-image: url("../../assets/images/banniereoeuvresinsitu.jpg");
    padding:60px 0px;
    margin-bottom: 14px;
    @media screen and (max-width: 558px) {
        padding:30px 0px;
    
    
    }
}
        
.expositions-capc{
    background-image: url("../../assets/images/banniereexposcapc.png");
    padding:60px 0px;
    margin-bottom: 136px;
    @media screen and (max-width: 558px) {
        padding: 30px 0px;
    }
}

.menu-bandes a{
    text-decoration: none;
    color: white;
    text-align:center;
}

.menu-bandes {  
@media screen and (max-width:1000px) {
  }
}