/* bannière covid19 */
.covid{
  background-color: $black;
  width: cover;
  padding: 0.5% 10%;
  color: $white;
  text-decoration:none;
  text-align: center;
  display:flex;
  opacity: 80%;
  @media screen and (max-width: 701px){
    padding: 5px 20px;
    margin-bottom: 50px;
  }
}  
  
.lien-en-savoir-plus{
  color: $white;
}

.lien-en-savoir-plus:hover{
  color: $white;
  text-decoration: underline;
}

@media screen and (min-width: 701px) {
  .bandeau-phone {
    display: none;
  }
}


@media screen and (max-width: 700px) {
  .bandeau-desktop {
      display: none;
  }
}