/* infos pratiques index */
.sections {
    display: flex;
    margin: 5% 10%;
    justify-content: space-between;
    padding-top: 5%;
}
 
.sections h3{
    margin-left: 20px;
}
 
.infos-pratiques h2{
    padding-left: 10%;
}

 
.icon-h3 {
    display : flex;
    align-items: center;
}
 
.corp-underline {
    text-decoration:underline;
}
 
 
.time {
    display: flex;
    justify-content: space-between;
}
 
.euro {
    display : flex;
    justify-content: space-between;
}
 
.time-tarif-section {
    flex-shrink: 1;
    width :46.5%;
}
 
.lieu-section {
    display: block;
    width: 46.5%;
}
 

.title-adress {
    display:flex;
    justify-content: space-between;
}
 
.map {
    width: 100%;
    padding-top: 3.5%;
}
 
.cars-transports {
    display:flex;
    justify-content: space-between;
}
 
.cars {
    width:49%
}
 
.transports {
    flex-shrink: 1;
    width:49%;
}
 
.text-tarif a {
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    background-color: #1c1c1f;
    color : #fafafa;
    padding: 10px 48px 10px 48px;
}
 
.text-days{
    margin-bottom: 30px;
}
 
.infos-pratiques{
    margin-top: 10%;
    margin-bottom: 10%;
}