/*top-page-index*/


.top-page-index{
    background-image: url("/assets/images/index_top-page.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 75px);
    overflow-x: hidden;
    justify-self: center;
    @media screen and (max-width: 700px){
        min-height: 50px;
    }
}

.top-page-index_content{
    padding: 20px 40px 30px 50px;
    background-color: $white;
    display: inline-block;
    margin-top: 270px;
    @media screen and (max-width: 700px){
        padding: 20px;
        margin: 30px;
        position: relative;
        align-items: center;
        justify-content: center;
        left:43%;
        transform: translateX(-50%) translateY(0%);
    }
}

.top-page-index h1{
    color:$black;
    @media screen and (max-width: 700px){
        text-align: center;
    }
}

.angle-haut-index{
    margin-left:-20px;
    margin-top: 20px;
    color:$black;
    @media screen and (max-width: 700px){
        max-width: 18px;
        position: absolute;
        margin-left: 0;
        margin-top: -5px;
    }
}

.angle-bas-index{
    margin-left:380px;
    margin-top: 0px;
    @media screen and (max-width: 700px){
        max-width: 18px;
        position: absolute;
        margin-left: 215px;
        margin-top: -20px;
    }
}