/* bannière covid19 */
.covid{
  background-color: $black;
  width: cover;
  padding: 0.5% 10%;
  color: $white;
  text-decoration:none;
  text-align: center;
  display:flex;
  opacity: 80%;
}  
  
.lien-en-savoir-plus{
  color: $white;
}

.lien-en-savoir-plus:hover{
  color: $white;
  text-decoration: underline;
}
