/* index et expos menu bandes */
.evenement-capc{
    background-image: url("../assets/images/banniereevenementscapc.jpg");
    padding:60px 0px;
    margin-bottom: 14px;
    margin-top:136px;
 }
     
 .oeuvres-capc{
    background-image: url("../assets/images/baniereoeuvreinsitu.png");
    padding:60px 0px;
    margin-bottom: 14px;
 }
     
  .expositions-capc{
    background-image: url("../assets/images/banniereexposcapc.png");
    padding:60px 0px;
    margin-bottom: 136px;
 }
 
 .histoire-capc{
    background-image: url("../assets/images/bannierehistoirecapc.png");
    padding:60px 0px;
    margin-bottom: 136px;
 }
 
 .les-expos a{
    text-decoration: none;
    color: white;
    text-align:center;
 }
   
.menu-bandes a{
    text-decoration: none;
    color: white;
    text-align:center;
}
 