/* index et expos les textes avec le titre à gauche */

.soutenezlart{
   margin: 136px 0;
   @media screen and (max-width:700px) {
      margin: 20px 0;
      flex-direction: column;
      display: block;
      padding : 5%;
      h2 {
         margin-bottom: 40px;
         font-size:20px;
         flex-direction: column;
      }
   }
}


.text-side p {
   margin-bottom:45px;
   @media screen and (max-width:1000px) {
      margin-bottom:20px;
      margin-left: 10px;
      flex-direction: column;
      // display: flex;
      // align-items: center;
   }
}

.text-side .left{
   width:50%;
   flex-shrink:0;
}

.buttondon{
   padding: 14px 54px;
   margin: 50% 0;
   background-color: $black;
   color: $white;
   border:none;
   font-size: 18px;
   font-family: 'Julius Sans One', sans-serif;
   transition:1s;
   text-transform: uppercase;
   text-decoration: none;
   @media screen and (max-width:1000px) { 
      
      margin-top: 20px;
      flex-direction: column;
      padding: 14px 54px;
      display: flex;
      align-items: center;
      margin: 0;
   }
   @media screen and (max-width:850px) { 
      margin-bottom: 5%;
   }
}
   
.buttondon:hover{
   background:#c2b288;
   color:$black;
   transition:1s;
}