
/* HEADER */
.menu-desktop{
    font-family: 'Julius Sans One', sans-serif;
    color: $white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: $black;
}
 
.icon-search {
    display: flex;
    align-items: center;
    font-size:18px;
}

.menu-billeterie {
    display: flex;
    align-items: center;
    font-size:18px;
}

.logo{
    height: 55px;
    width: 122px;
}
 
.logo-menu{
    height: 24px;
    width: 24px;
}
 
header input{
    background:$black;
    color:$white;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
    font-weight: normal;
    border:none;
    width: 135px; 
    margin-left: 5%;   
}
 
.billetterie{
    color:$gold;
    font-weight: normal;
    padding-top: 0;
}
 
.scrolling-menu{
    font-weight: bold;
    padding-bottom: 10px;
}
 
header nav ul li select{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
    background-color: $black;
    color:$white;
    border:none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
 
 
/*El copié collé du menu deroulant*/

.top-menu{
    position: relative;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    float: left;
    text-align: right;
    position: relative;
    margin: 0px 15px;
    font-size: 18px;
}

header nav ul::after{
    content: "";
    display: table;
    clear: both;
}

header nav > ul > li > ul > li > a {
    display: block;
    text-decoration: none;
    color: $white;
}

.sub-nav li{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.sub-nav{
    display: none;
    background-color: $black;
    position: absolute;
    width:fit-content;
    z-index: 1000;
    font-weight: normal;
}

header nav a:hover{
    color: $gold;
    border-bottom: 2px solid $gold;
}

header nav > ul li:hover .sub-nav{
    display: block;
}

.sub-nav li{
    float: none;
    width: 100%;
    text-align: left;
}

.sub-nav a{
    padding: 10px;
    border-bottom: none;
}

.sub-nav a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}

.scrolling-menu > a::after{
content:" ▼";
    font-size: 18px;
}

.scrolling-menu li:hover{
    color: $gold;
}

header a {
    text-decoration: none;
    color:$white;
    font-size:18px;
}

/* Début scss mobile */
.menu-mobile {
    background-color: #FAFAFA;
    display: none;
}

@media screen and (max-width: 700px) {
    .menu-desktop2 {
      display: none;
    }
    .menu-mobile {
      display: block;
    }
  }
}
