/* index et expos les textes avec le titre à gauche */
.text-side{
   display:flex;
   justify-content: space-between;
   margin: 136px 120px;
   @media screen and (max-width: 700px){
      display:inline-block;
      margin: 80px 20px;
      padding: 5%;
   }
}

.text-side .left{
   width:50%;
   flex-shrink:0;
}

.surlignage{
   border-bottom: 20px solid $gold;
   padding-bottom: 0;
   line-height: 5%;
   margin-right: 136px;
   position: absolute;
   padding-left: 2%;
   white-space: nowrap;
   @media screen and (max-width:700px){
      margin-left: 5px;
   }
}