.toppage-expos{
    background-image: url("../assets/images/toppageexpo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    justify-self: center;
    margin: 18px 0px 136px;
    padding-top: 160px;
    padding-bottom: 160px;
 }
 
 .toppage-expos_content{
    text-align: center;
    color:#fafafa;   
 }