*{
    margin:0;
    padding: 0;
 }
 body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color : pink ;
 }
 
 h1{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 48px;
    font-weight:normal;
 
 }
 h2{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 36px ;
    font-weight: bolder;
    text-transform: uppercase;
    /* -moz-osx-font-smooth: grayscale; */
 }
 
 h3{
    font-family:'Poppins', sans-serif;
    font-size:24px;
    font-weight: 400;
    margin-bottom: 10px;
    /* text-transform:uppercase; */
 }
 
 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 200;
    font-weight: normal;
 }

